.all {
  background: #ffffff;
}

.main2-container {
  background: #ffffff;
  height: 100vh;
  width: 100%;
  position: relative;
  /* justify-content: center; */
  text-align: center;
  display: flex;
  border-radius: 20px;
}

.main2-div{
  background: #EFEFEF;
  height: 100vh;
  /* width: 86%; */
  width: auto;
  border-radius: 20px;
  /* justify-content: center; */
}



.main2-divMaize{    
  background: #ffffff;
  height: 92%;
  /* width: 98%; */
  width: auto;
  margin:2% ;
  border-radius: 20px;
  /* justify-content: center; */
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  position: relative;
  
}

.main2-divMaize h2{
  font-size: 1.2rem;
  /* font-weight: ; */
  font-family: 'Roboto', sans-serif;
  padding: 2%;
  color: #000000;
}



.Sheet {
  width: 100%;
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;

}

.table {
  /* padding-left: 2%; */
  padding: 2%;
  /* border-radius: 10%; */
  /* width: 1200px; */
  width:auto;
  display: sticky;
  position: relative;
  justify-content: center;
  /* padding: 5%; */
  overflow-y: auto; 
}

@media (max-width: 768px) {
  .table {
    padding: 2rem 0.5rem;
  }
}

/* .SidebarMain2 {
  width: 14%;
  height: auto;
} */

.uploadImageButton{
  background: #414D3C;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  width: 8%;
  height: 6%;
  color: #ffffff;
  cursor: pointer;
  position: absolute; 
  top: 20px; 
  right: 70px;
 
}


.result-image{
  width: 100px; 
  height: auto; 
  cursor: pointer;
  border-radius: 10px;
}

/*------- for image preview -------*/
.image-preview-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
 
}

.image-preview-modal-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-height: 80%;
  max-width: 80%;
  overflow: auto;
  width: 80vw; 
  height: 80vh; 
}


.image-preview-full {
  width: auto;
  height: auto; 
  max-width: 100%;
  max-height: 75vh; 
  object-fit: scale-down; 
}

.image-preview-close-btn {
  background: #414D3C;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  align-self: flex-end;
}