@import url("https://fonts.googleapis.com/css?family=Inter");

.navbarMain {
  background: #fcfefc;
  height: 70px;
  display: flex;
  justify-content: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbarMain-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
}

.nav2-logo {
  position: relative;
  margin-left: 10%;
  width: 95px;
}

.nav-div {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.account-info {
  color: #ffffff;
  text-align: center;
  margin-right: 32px;
}

.nav-name {
  font-size: 20px;
}

.nav-company {
  font-size: 14px;
}

.expand-icon {
  color: #808080;
  font-size: 32px;
  margin-top: 6px;
}

.userTabSquare{
  margin-right: 2%;
}




