RCNN/data/
RCNN/__pycache__/
RCNN/roi/
RCNN/*.pth
RCNN/*.pt
Mask RCNN/*.pth
Mask RCNN/*.jpg
Model inference/*.jpg
Model inference/*.pth
Model inference/*.pt
Model inference/input
Model inference/output
.DS_Store
.env
*.pth
**/__pycache__/

Backend/media
RCNN/input/
RCNN/output/
RCNN/outputDD/
YOLO/mtdc/
YOLO/uav/
YOLO/runs/
YOLO/Segmentation/weights/
YOLO/*.pt
