RCNN/data/
RCNN/__pycache__/
RCNN/roi/
RCNN/*.pth
Mask RCNN/*.pth
Mask RCNN/*.jpg
Model inference/*.jpg
Model inference/*.pth
Model inference/*.pt
Model inference/input
Model inference/output
.DS_Store
*.pth
**/__pycache__/

RCNN/input/
RCNN/output/
YOLO/mtdc/
YOLO/uav/
YOLO/runs/
YOLO/Segmentation/weights/
